<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Club</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/homePage-css.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
</head>

<body>
    <div id="app" style="width: 100%;">
        <nav class="m-5 shadow-lg navbar align-center justify-content-start navbar-expand-lg navbar-light fixed " style=" border: transparent solid 1px;border-radius: 30px; box-shadow:thistle 2px 4px 2px 2px;">
            <a class="navbar-brand" href="#"><img src="images/logo.png" style="object-fit:cover; width:80px;" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse    clearfix" id="navbarSupportedContent">
                <ul class="navbar-nav   d-flex justify-content-around">
                    <li class="nav-item  w-25 ">
                        <form v-cloak class="form-inline my-6 my-lg-0">
                            <input class="form-control" v-model="searchString" style="width:1000px; border: transparent solid 1px;border-radius: 10px; box-shadow:lightgreen 1px 1px 1px 1px;" v-model="filter" type="text" placeholder="Search for Clubs 🔍" aria-label="Search">
                            <span class=""></span>
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" style="border: solid 1px transparent; border-radius:50px; padding:5px; box-shadow:lightcoral 2px 2px 2px 2px" class=" text-decoration-none w3-text-black " data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-shopping-cart font-weight-bolder w3-large"></span>
                            <span class="caret w3-badge badge-danger">
                                {{ cart.length + (cart.length > 1 || cart.length === 0 ? " " : " " ) }}</span></a>
                        <ul class="dropdown-menu dropdown-cart m-3 p-5 w3-animate-opacity" role="menu" style="box-shadow:         inset 1px 1px 16px 0px rgba(86, 255, 215, 0.75);">
                            <li>
                                <table class="table  table-image ">
                                    <thead class=" ">
                                        <tr v-if="cart.length===0">
                                            <td> </td>
                                            <td><img src="images/cart.jpg" class="w3-image" alt=""></td>
                                        </tr>
                                        <tr v-else>
                                            <th scope="col-2">Image</th>
                                            <th scope="col-2">Lesson</th>
                                            <th scope="col-2">Price</th>
                                            <th scope="col-2">Qty</th>
                                            <th scope="col-2">Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody class=" ">
                                        <tr v-for="item in lesson" v-if="cartCount(item)>0">
                                            <td class="">
                                                <img v-bind:src="item.image" style=" border-radius: 20px; box-shadow:lightskyblue 2px 2px 2px 2px;" class="img-fluid" alt="Sheep">
                                            </td>
                                            <td>{{item.subject}}</td>
                                            <td>{{item.price}}</td>
                                            <td class="qty">{{item.quantity}}</td>
                                            <td>
                                                <button class="btn btn-danger " v-on:click="removeFromCart(item)"><i
                                                        class="fas fa-times-circle"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <div class="d-flex ">
                                    <hr>
                                    <button v-on:click='showCheckout' @click="verified = true, showCart = false" class="btn btn-group-toggle btn-outline-danger mb-2 "><i
                                            class="fas fa-shopping-cart"></i>Checkout</button>
                                    <h5 class="m-2">Total: <span class="price text-success">{{ total }} </span></h5>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="">
            <div v-if="showlesson" style="border: transparent solid 1px; border-radius: 30px; box-shadow:turquoise 3px 10px 11px 6px;" class="justify-content-center m-5" style="background-color: transparent; backdrop-filter: blur 5px;">
                <h1 class=" mt-5  header  container justify-content-around"> After School Club </h2>
                    <div class=" p-4 dropdown jumbotron-fluid align-content-between align-right  ">
                        <button class="btn btn-default dropdown-toggle float-right  border-dark " type="button" id="menu1" data-toggle="dropdown">Sort
                            by : {{sortType}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu p-3 m-1 text-black-50" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" v-on:click="sort('Subject-Low-to-High')" tabindex=" -1" href="#" class="w3-text-black text-decoration-none w3-hover-text-pink  pt-3 p-3 m-2">Subject
                                    Name A-Z
                                    <span class="far fa fa-sort-alpha-asc"></span></a></li>
                            <li role="presentation"><a role="menuitem" v-on:click="sort('Subject-High-to-Low')" tabindex="-1" href="#" class="w3-text-black text-decoration-none w3-hover-text-pink pt-3 p-3 m-2">Subject
                                    Name Z-A
                                    <span class="far fa fa-sort-alpha-desc"></span></a></li>
                            <li role="presentation"><a role="menuitem" v-on:click="sort('Price-Low-to-High')" vtabindex="-1" href="#" class="w3-text-black text-decoration-none w3-hover-text-pink pt-3 p-3 m-2">Price Low
                                    to High
                                    <span class="fa fa-sort-numeric-asc"></span></a></li>
                            <li role="presentation"><a role="menuitem" v-on:click="sort('Price-High-to-Low')" tabindex="-1" href="#" class="w3-text-black text-decoration-none w3-hover-text-pink pt-3 p-3 m-2">Price
                                    High to Low
                                    <i class="fas fa-sort-numeric-desc"></i> </a></li>
                            <li role="presentation"><a role="menuitem" v-on:click="sort('Location-Low-to-High')" tabindex=" -1" href="#" class="w3-text-black text-decoration-none w3-hover-text-pink pt-3 p-3 m-2">Location
                                    A-Z
                                    <span class="far fa fa-sort-alpha-asc"></span></a></li>
                            <li role="presentation"><a role="menuitem" v-on:click="sort('Location-High-to-Low')" tabindex=" -1" href="#" class="w3-text-black text-decoration-none w3-hover-text-pink pt-3 p-3 m-2">Location
                                    Z-A
                                    <span class="far fa fa-sort-alpha-desc"></span></a></li>
                            <li role="presentation"><a role="menuitem" v-on:click="sort('Availability-Low-to-High')" tabindex=" -1" href="#" class="w3-text-black text-decoration-none w3-hover-text-pink pt-3 p-3 m-2">Availability
                                    A-Z
                                    <span class="far fa fa-sort-alpha-asc"></span></a></li>
                            <li role="presentation"><a role="menuitem" v-on:click="sort('Availability-High-to-Low')" tabindex=" -1" href="#" class="w3-text-black text-decoration-none w3-hover-text-pink pt-3 p-3 m-2">Availability
                                    Z-A
                                    <span class="far fa fa-sort-alpha-desc"></span></a></li>
                        </ul>
                    </div>
                    <div class="container1 ">
                        <div class="card1 shadow-lg w3-animate-zoom" v-for="(lesson, index) in sortedlessons" :key="index" v-bind:style="{ background: lesson.color}">
                            <div class="header">
                                <div class="subject">
                                    <h4 class="name" v-text="lesson.subject"></h4>
                                    <div class="rate">
                                        <span v-for='n in lesson.rating'><i class="fas fa-star"></i></span>
                                    </div>
                                </div>
                                <div class="price ">Price <br>
                                    <span>${{lesson.price}}</span>
                                </div>
                            </div>
                            <br>
                            <div class="image align-content-center border-light  rounded-lg align-items-center w3-center">
                                <img v-bind:src="lesson.image" class=" img-fluid fa-image w3-image">
                            </div><br>
                            <div class="header">
                                <div class="subject">
                                    <h4 class="name">Location</h4>
                                    <h4 class="name"><span class="far fa-globe"></span>{{lesson.location}}
                                    </h4>
                                </div>
                                <div class="subject">
                                    <h6 class="name">Space <br>
                                        <span class="align-content-center align-items-end align-self-end">
                                            {{lesson.space}}</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="w3-content align-center align-content-center w3-center p-2 mt-3">

                                <button class="btn btn-md btn-light btn-lg btn-outline-dark w3-border-black font-weight-bolder  w3-hover-red  align-center" v-on:click="addtoCart(lesson)" v-if='lesson.space>0'>Add to
                                    Cart</button>
                                <button disabled='disabled' visibility="none" class="btn button btn btn-outline-dark btn-outline-danger w3-text-white font-weight-bolder" v-else> Add
                                    to
                                    Cart <i class="fas fa-times-circle-o"></i></button>

                                <div class=" w3-content align-center align-content-center w3-center mt-4">
                                    <span class="text-white rounded p-2 text-uppercase align-center font-weight-bold font-weight-bolder bg-danger" v-if='lesson.space===0'> All spaces are filled!</span>
                                    <span class="text-black font-weight-bolder  p-2 rounded" v-else-if="lesson.space < 5">
                                        Only
                                        {{lesson.space}} left!</span>
                                    <span v-else class="text-black font-weight-bolder  p-2 rounded">Buy now!</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div v-else>
                <div class="checkout container " v-show="verified">
                    <div class=" jumbotron-fluid">
                        <div class="row m-5 p-5 justify-content-around" style="border: solid 1px transparent; border-radius:15px; box-shadow:turquoise 3px 3px 3px 3px">
                            <div class="col-lg-4 rounded  ">
                                <h3>Order Summary:</h3>
                                <table class="table  table-image ">
                                    <thead class=" ">
                                        <tr v-if="cart.length===0">
                                            <td> </td>
                                            <td><img src="images/cart.jpg" class="w3-image" alt=""></td>
                                        </tr>
                                        <tr v-else>
                                            <th scope="col-2"></th>
                                            <th scope="col-2">Lesson</th>
                                            <th scope="col-2">Price</th>
                                            <th scope="col-2">Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody class=" ">
                                        <tr v-for="item in lesson" v-if="cartCount(item)>0">
                                            <td class="">
                                                <img v-bind:src="item.image" class="img-fluid" alt="Sheep">
                                            </td>
                                            <td id="subject">{{item.subject}}</td>
                                            <td id="price">{{item.price}}</td>
                                            <td class="qty" id="space">{{item.quantity}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                            </div>
                            <div class="col-lg-6 w3-border-left border-secondary">
                                <h2>Order information</h2>

                                <div class="p-3">
                                    <input class=" w3-hover w3-input" @keypress="isLetter($event)" placeholder="Enter your full name" type="text" v-model="order.Name">
                                </div>

                                <div class="p-3">
                                    <input type="number" class="w3-input" placeholder="Enter Phone Number" v-model.number="order.phone">
                                </div>
                                <hr>
                                <div class="p-3">
                                    <p class="u-pull-right"> Name: {{order.Name}}</p>
                                    <p class="u-pull-right">Phone: {{order.phone}}</p>
                                    <div class="u-pull-right">
                                        <h5>Total: <span id="total">${{ total }}</span></h5>
                                    </div>
                                    <button v-if="!(order.Name === '' || order.phone === '')" v-on:click="submitForm" class=" btn button btn-block btn-outline-info">Place
                                        Order <i class="ml-2 fas fa-credit-card "></i></button>
                                </div>
                                <hr>
                            </div>
                            <button v-on:click='showCheckout' @click="verified = true, showCart = false" class="btn btn-group-toggle btn-outline-secondary m-3 mb-2 "><i
                                    class="fas fa-home"></i>&nbsp; Go back to Main Page</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    <script>
        var webstore = new Vue({
            el: "#app",
            data: {
                color: '#151515',
                sitename: "After School Club",
                lesson: {},
                showlesson: true,
                order: {
                    Name: '',
                    phone: '',
                },
                subject: '',
                prices: [],
                cart: [],
                showCart1: false,
                searchString: "",
                verified: false,
                sortType: '',
                filter: '',
                orders: {},
                carts: {}
            },
            created() {
                fetch('https://rith1k.herokuapp.com/collection/Lessons', {
                    method: 'GET', // set the HTTP method as 'POST'
                    headers: {
                        'Content-Type': 'application/json', // set the data type as JSON 
                    },
                }).then(response => response.json()).then(responseJSON => {
                    webstore.lesson = responseJSON;
                    console.log('Success:',
                        responseJSON);
                });


            },
            methods: {
                sort(type) {
                    this.sortType = type;
                },
                isLetter(e) {
                    let char = String.fromCharCode(e.keyCode);
                    if (/^[A-Za-z]+$/.test(char)) return true;
                    else e.preventDefault();
                },
                addtoCart(lesson) {

                    lesson.quantity++;
                    lesson.space--;
                    this.cart.push(lesson);

                },
                removeFromCart(lesson) {
                    lesson.space++;
                    lesson.quantity--;
                    this.cart.splice(this.cart.indexOf(lesson), 1);

                },
                showCheckout() {
                    this.showlesson = this.showlesson ? false : true;
                },
                submitForm() {
                    if (this.cart.length === 0) {
                        alert("Your cart is empty. Purchase a lesson to proceed with checkout!");
                    } else {
                        if (this.order.phone === "") {
                            alert("Please fill in your phone number");
                        } else if (this.order.Name === "") {
                            alert("Please fill your Name");
                        } else {

                            // var sub = document.getElementById("subject").textContent;
                            // var pric = document.getElementById("price").textContent;
                            // var spac = document.getElementById("space").textContent;
                            alert("Thanks for purchasing, your order has been confirmed!");

                            this.insertOrder();
                            this.updateLessons();
                            setTimeout(function() {}, 2000);
                            console.log("reloading");
                        }

                    }

                },
                updatepage() {
                    var delayInMilliseconds = 3000; //1 second

                    setTimeout(function() {
                        //your code to be executed after 1 second
                    }, delayInMilliseconds);
                    this.cart.length = 0;
                    this.order.Name = "";
                    this.order.phone = '';
                    document.getElementById("total").innerHTML = "";

                },
                updateLessons() {
                    for (item in this.cart) {
                        fetch('https://rith1k.herokuapp.com/collection/Lessons/' + this.cart[item]._id, {
                            method: 'PUT',
                            mode: "cors",
                            cache: "no-store",
                            credentials: "same-origin", // set the HTTP method as 'PUT'
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                space: this.cart[item].space,
                                quantity: 0,
                            }),

                            // need to stringify the JSON object
                        }).then(response => response.json()).then(responseJSON => {
                            console.log('Success:', responseJSON);
                        });

                    }
                    this.updatepage();

                },

                insertOrder() {
                    for (item in this.cart) {
                        this.carts[item] = {
                            "Subject": this.cart[item].subject,
                            "Price": this.cart[item].price,
                            "Quantity": 1,
                            "LessonID": this.cart[item].prodid,
                            "Location": this.cart[item].location,
                            "Id": this.cart[item]._id,
                        };

                    }
                    console.log(this.carts);


                    var orders = {
                        Customer_Name: this.order.Name,
                        item: this.carts,
                        Phone: this.order.phone,
                    }

                    console.log(orders);
                    console.log(this.cart);

                    fetch('https://rith1k.herokuapp.com/collection/Orders', {
                        method: 'POST',
                        // set the HTTP method as 'POST'
                        headers: {
                            'Content-Type': 'application/json',

                            // set the data type as JSON
                        },
                        body: JSON.stringify(orders), // need to stringify the JSON object
                    }).then(response => response.json()).then(responseJSON => {
                        console.log('Success:', responseJSON);
                    });
                },
                canAddToCart: function(lesson) {
                    return lesson.space > this.cartCount(lesson);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
            },
            computed: {
                NameValid() {
                    return /^[A-Za-z]+$/.test(this.Name);
                },
                total() {
                    let total = 0;
                    for (let p of this.lesson) {
                        total += (p.price * ((p.quantity)));
                    }
                    return total;
                },
                cartItemCount: function() {
                    return this.cart.length || '';
                },
                sortedlessons() {
                    console.log(this.sortType);
                    if (this.searchString != "") {
                        var search_array = this.lesson,
                            searchString = this.searchString;
                        if (!searchString) {
                            return this.lesson;
                        }
                        searchString = searchString.trim().toLowerCase();
                        search_array = search_array.filter(item => {
                            if (item.subject.toLowerCase().indexOf(searchString) !== -1) {
                                return item;
                            }
                        })
                        return search_array;
                    }
                    if (this.sortType === 'Subject-Low-to-High') {
                        return this.lesson.sort((a, b) => {
                            if (a.subject < b.subject) return -1;
                            if (a.subject > b.subject) return 1;
                            return 0;
                        });
                    }
                    if (this.sortType === 'Subject-High-to-Low') {
                        return this.lesson.sort((a, b) => {
                            if (b.subject < a.subject) return -1;
                            if (b.subject > a.subject) return 1;
                            return 0;
                        });
                    }
                    if (this.sortType === 'Location-Low-to-High') {
                        return this.lesson.sort((a, b) => {
                            if (a.location < b.location) return -1;
                            if (a.location > b.location) return 1;
                            return 0;
                        });
                    }
                    if (this.sortType === 'Location-High-to-Low') {
                        return this.lesson.sort((a, b) => {
                            if (b.location < a.location) return -1;
                            if (b.location > a.location) return 1;
                            return 0;
                        });

                    }
                    if (this.sortType === 'Availability-Low-to-High') {
                        return this.lesson.sort((a, b) => {
                            if ((a.space) < (b.space)) return -1;
                            if ((a.space) > (b.space)) return 1;
                            return 0;
                        });
                    }
                    if (this.sortType === 'Availability-High-to-Low') {
                        return this.lesson.sort((a, b) => {
                            if (b.space < a.space) return -1;
                            if (b.space > a.space) return 1;
                            return 0;
                        });
                    }
                    if (this.sortType === 'Price-Low-to-High') {
                        return this.lesson.sort((a, b) => {
                            if (a.price < b.price) return -1;
                            if (a.price > b.price) return 1;
                            return 0;
                        });
                    }
                    if (this.sortType === 'Price-High-to-Low') {
                        return this.lesson.sort((a, b) => {
                            if (b.price < a.price) return -1;
                            if (b.price > a.price) return 1;
                            return 0;
                        });
                    } else {

                        return this.lesson.sort((a, b) => {
                            if (a.subject < b.subject) return -1;
                            if (a.subject > b.subject) return 1;
                            return 0;
                        });
                    }
                }
            }
        });
    </script>
</body>

</html>